[Desktop Entry]
Type=Application
Name=Slive
GenericName=Livestream Player
Icon=io.github.SlotSun.dart_simple_live
Exec=Slive %U
Categories=AudioVideo;Audio;Video;Network
Keywords=Livestream;Video
StartupNotify=true
