[Desktop Entry]
Type=Application
Name=Slive
GenericName=Livestream Player
Icon=io.github.slotsun.slive
Exec=simple_live_app %U
Categories=AudioVideo;Audio;Video;Network
Keywords=Livestream;Video
StartupNotify=true
